@import '../../CommonFiles/commonStyles.module';

.userContainer {
   display: flex;
   flex-direction: column;
}

.usersWrap {
   padding-left: 5px;

   .personWrap {
      height: 100%;
      display: flex;
      justify-content: space-between;
      @include onHoverBackgroundColor;
      padding: 10px 5px;

      &:hover {
         cursor: pointer;
         border-left: 3px solid $mainBackGroundColor;
      }

      .personSubWrap {
         display: flex;

         .link {
            .avatar {
               @include onHoverBackgroundColor;
               max-width: 60px;
               max-height: 60px;
               border-radius: 50px;
               @include onHoverActiveButton
            }
         }

         .person {
            padding: 0 10px;
            line-height: 25px;
            letter-spacing: 0.24px;

            .linkPerson {
               display: flex;
               flex-wrap: wrap;

               .personName {
                  width: 100%;
                  color: #000;
                  opacity: 0.7;
                  font-weight: bold;
                  font-size: 16px;
                  cursor: pointer;
                  @include onHoverText;
               }

               .aboutPerson {
                  color: #fff;
               }
            }
         }
      }
   }

   .buttonsBlock {
      margin: 20px auto;
      display: flex;
      justify-content: space-around;
      width: 70%;
      height: 30px;
      align-items: center;

      & button {
         background: white;
         font-size: 15px;
         width: 25px;
         height: 25px;
         border-radius: 50px;

         &:hover {
            text-decoration: underline;
         }
      }

      .arrow {
         height: 25px;
         margin: 0 10px;
         transform: scale(0.9);
         cursor: pointer;

         &:hover {
            transition: 0.1s;
            transform: scale(1.0)
         }

         &:active {
            transform: scale(0.9);
         }
      }

      .disabled {
         opacity: 0.2;
         cursor: auto;

         &:hover {
            transform: scale(0.9);
         }
      }
   }

   .pageButton {
      font-weight: bolder;
      box-shadow: 0 0 0 2px $buttonColor;
   }
}

.buttonWrap {
   padding-top: 20px;
   display: flex;
   justify-content: space-between;

   .followButton {
      width: 120px;
      height: 30px;
      background-color: $buttonColor;
      color: #fff;
      font-weight: bold;
      border: 1px solid $buttonColor;
      border-radius: 3px;
      @include onHoverActiveButton;

      &:disabled {
         background-color: #88a8ea;
         color: #98949c;
      }

      .inviteIcon {
         padding-right: 5px;
         width: 23px;
      }
   }

   .unfollowButton {
      border: 1px solid #98949c;
      border-radius: 3px;
      color: #4b4f56;
      background-color: #fff;
      width: 120px;
      height: 30px;
      @import '../../CommonFiles/commonStyles.module';
   }
}