@import '../../commonFiles/commonStyles.module';

.main {
   margin: 0 auto;
   .subName {
      margin: 0 0 30px 0;
      color: $mainTextColor;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      @include onHoverText;
   }

   .names {
      padding: 40px 0 9px 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      color: $mainTextColor;
   }

   .profiles {
      width: 180px;
      border-radius: 10px;
      @include onHoverActiveButton;
      box-shadow: $boxShadowForBlock;
   }
}

@media (max-width: 737px) {
   .profiles {
      display: none;
   }
}
