@import '../../CommonFiles/commonStyles.module';

.head {
   box-shadow: $boxShadowForBlock;
   background-color: #fff;
   border-radius: $bottomRadius;

   .wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      min-height: 57px;
      padding: 13px 13px;
   }
}

