@import '../../CommonFiles/commonStyles.module';

.nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: $mainBackGroundColor;
   height: 44px;
   position: sticky;
   top: 0;
   min-height: 2em;
   z-index: 10;

   .navWrap {
      display: flex;
      justify-content: space-between;
      width: 95%;

      .form {
         min-width: 480px;
      }

      .icons {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         justify-content: space-between;
         min-width: 200px;
         align-items: center;
      }
   }
}
