@import '../../CommonFiles/commonStyles.module';

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  .audioPlayer {
    height: 30px;
    width: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: $boxShadowForBlock;
    padding: 0 10px;
    border-radius: $smallRadius;

    .btnWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 150px;

      .button {
        cursor: pointer;

        .buttonIcon {
          height: 18px;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}