@import '../../../commonFiles/commonStyles.module';

.MuiSlider-root {
  height: 20px;


  .MuiSlider-thumb {
    display: none;
  }

  .MuiSlider-rail {
    border: 1px solid black;
    border-radius: $smallRadius;
    background-color: $inputBackGround;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  .MuiSlider-track {
    background: url("../../../../images/gif/reactSquare.gif");
    background-size: contain;
    border-radius: $smallRadius;
    height: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}

