.mainWrapper {
   margin: 50px auto;
}
.wonGame{
   border: 5px solid lime;
}
.puzzles {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(1, 12fr);
}
.commonPuzzleStyles {
   border: 1px solid #fff;
}
.commonPuzzleStyles:hover {
   -webkit-box-shadow: 0px 0px 3px 5px rgba(56,185,255,1);
   -moz-box-shadow: 0px 0px 3px 5px rgba(56,185,255,1);
   box-shadow: 0px 0px 3px 5px rgba(56,185,255,1);
}
.puzzleImage {
   width: 100%;
   height: 100%;
}
@media (max-width: 737px) {
   .mainWrapper {
      padding: 0 50px;
   }
}
