@import '../../CommonFiles/commonStyles.module';
.main {
    .subName {
        margin: 0 0 30px 0;
        color: #98949c;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        @include onHoverText;
    }
    .names {
        background: url(../SideImages/icon_done.png) 115px 68px no-repeat;
        padding: 40px 0 9px 0;
        font-size: 24px;
        font-weight: 300;
        line-height: 26px;
    }
    .profiles {
        outline: 1px solid #dfe0e4;
        outline-offset: -5px;
        border-radius: 5px;
        @include onHoverActiveButton;
    }
}
@media (max-width: 737px) {
    .profiles {
        display: none;
    }
}