.validateWrapper{
}
.required input{
    box-shadow:inset 0px 0px 2px 1px rgba(255,0,0,1);
}
.errorMessage {
    display: block;
    height: 36px;
    opacity: 0;
}
.showErrorMessage {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    color: red;
    font-weight: bold;
    opacity: 1;
}



