.writeMessage {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0px 0px 0px 10px;
}
.MessageArea {
    background-color: #fff;
    border-radius: 15px 0px 0px 15px;
    padding: 10px;
    resize: none;
    width: 85%;
}
.SendButton {
    background-color: #3B5998;
    color: #fff;
    border-radius: 0px 15px 15px 0px;
    width: 15%;
}