@import '../../CommonFiles/commonStyles.module';

.butt {
  margin-top: 10px;
  width: 120px;
  height: 30px;
  background-color: $buttonColor;
  @include onHoverActiveButton;

  .buttLink {
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.23px;
  }
}





