@import '../../CommonFiles/commonStyles.module';

.usersWrap {
   .personWrap {
      width: 80%;
      margin: 0 30px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      @include onHoverBackgroundColor;
      padding: 10px 30px;

      &:hover {
         cursor: pointer;
         border-left: 3px solid $mainBackGroundColor;
      }

      .personSubWrap {
         display: flex;

         .link {
            .avatar {
               @include onHoverBackgroundColor;
               max-width: 60px;
               max-height: 60px;
               border-radius: 50px;
               @include onHoverActiveButton
            }
         }

         .person {
            padding: 0 10px;
            line-height: 25px;
            letter-spacing: 0.24px;

            .linkPerson {
               display: flex;
               flex-wrap: wrap;

               .personName {
                  width: 100%;
                  color: #000;
                  opacity: 0.7;
                  font-weight: bold;
                  font-size: 16px;
                  cursor: pointer;
                  @include onHoverText;
               }

               .aboutPerson {
                  color: #fff;
               }
            }
         }
      }
   }

   .buttonsBlock {
      margin: 20px auto;
      display: flex;
      justify-content: space-around;
      width: 60%;
      height: 30px;
   }

   .buttonsBlock button {
     background: white;
      font-size: 18px;
      width: 30px;
      border-radius: 50px;
     &:hover {
       text-decoration: underline;
     }
     &:active {
       transform: scale(0.9);
     }
   }

   .pageButton {
      font-weight: bolder;
     border: 3px solid #3b5998;
   }
}

.buttonWrap {
   padding-top: 20px;
   display: flex;
   justify-content: space-between;

   .followButton {
      width: 120px;
      height: 30px;
      background-color: #3B5998;
      color: #fff;
      font-weight: bold;
      border: 1px solid #3B5998;
      border-radius: 3px;
      @include onHoverActiveButton;

      &:disabled {
         background-color: #88a8ea;
         color: #98949c;
      }

      .inviteIcon {
         padding-right: 5px;
         width: 23px;
      }
   }

   .unfollowButton {
      border: 1px solid #98949c;
      border-radius: 3px;
      color: #4b4f56;
      background-color: #fff;
      width: 120px;
      height: 30px;
      @import '../../CommonFiles/commonStyles.module';
   }
}