.main {
    padding: 5px;
    background-color: #fff;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.usersWrap {
    max-height: 1000px;
}
.personWrap {
    margin: 0px 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #E9EAED;
}
.personSubWrap {
    display: flex;
}
.person {
    padding: 0px 10px;
    line-height: 25px;
    letter-spacing: 0.24px;

}
.aboutPerson{
    opacity: 60%;
}
.personName {
    color: #2155bc;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.link:hover {
    -webkit-box-shadow: 0px 0px 4px 2px #2e4a75;
    box-shadow: 0px 0px 4px 2px #2e4a75;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
.link:active {
    -webkit-box-shadow: 0px 0px 6px 4px #adcbff;
    box-shadow: 0px 0px 6px 4px #adcbff;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
.avatar{
    max-width: 100px;
    max-height: 100px;
}
.buttonWrap{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 245px;
}
.followButton {
    width: 120px;
    height: 30px;
    background-color: #3B5998;
    color: #fff;
    font-weight: bold;
    border: 1px solid #3B5998;
    border-radius: 3px;
}
.followButton:hover {
    -webkit-box-shadow: 0px 0px 4px 2px #2e4a75;
    box-shadow: 0px 0px 2px 1px #2e4a75;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
.followButton:active {
    -webkit-box-shadow: 0px 0px 6px 4px #adcbff;
    box-shadow: 0px 0px 4px 4px #adcbff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.followButton:disabled {
    background-color: #88a8ea;
    color: #98949c;
}
.unfollowButton {
    border: 1px solid #98949c;
    border-radius: 3px;
    color: #4b4f56;
    background-color: #fff;
    width: 120px;
    height: 30px;
    font-weight: bold;
}
.unfollowButton:hover {
    -webkit-box-shadow: 0px 0px 4px 2px #4b4f56;
    box-shadow: 0px 0px 2px 1px #4b4f56;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
.unfollowButton:active {
    -webkit-box-shadow: 0px 0px 6px 4px #98949c;
    box-shadow: 0px 0px 4px 4px #98949c;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.unfollowButton:disabled {
    background-color: #fff;
    color: #98949c;
    border: 1px solid #adcbff;
}
.inviteIcon {
    padding-right: 5px;
    width: 23px;
}
.buttonsBlock {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 30px;
}
.buttonsBlock button {
    background-color: #E9EAED;
    font-size: 18px;
    width: 20px;
    border-radius: 50px;
}
.buttonsBlock button:hover {
    box-shadow: 0px 0px 4px 4px #98949c;
    transition: 0.2s;
}

.pageButton {
    font-weight: bolder;
    text-decoration: underline;
}
.loadIcon {
    display: block;
    margin: 0 auto;
}
.preloadBlock {
    max-height: 100px;
}