.area {
    min-height: 26px;
    min-width: 403px;
    padding: 0px 0px 0px 10px;
    color: #373b44;
    font-size: 14px;
    line-height: 25px;
}
.area:hover {
    -webkit-box-shadow: 0px 0px 4px 2px #adcbff;
    box-shadow: 0px 0px 4px 2px #adcbff;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}