.authWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
}
.logInto{
    font-size: 24px;
    margin-top: 20px;
}
.authSubWrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    width: 100%;
}
.inputWrap {
    width: 90%;
    text-align: center;
}
.input {
    border-radius: 7px;
    background-color: #E8F0FE;
    padding-left: 10px;
    width: 100%;
    border: 1px solid #d4d4d4;
    font-size: 28px;
    height: 50px;
}
.input::placeholder{
    opacity: 0.7;
}
.input:hover {
    -webkit-box-shadow: 0px 0px 2px 2px #adcbff;
    box-shadow: 0px 0px 2px 2px #adcbff;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
.nameInput {
    display: block;
    opacity: 0.6;
    font-size: 18px;
    margin: 10px 0px 7px 0px;
}
.recoverPass {
    display: block;
    margin: 15px auto;
    color: #1877F2;
    font-size: 18px;
}
.signInButton {
    border-radius: 7px;
    width: 100%;
    height: 50px;
    background-color: #1877F2;
    color: #fff;
    font-size: 28px;
}
.buttonWrap{
    width: 90%;
}
.or {
    text-align: center;
    color: #d4d4d4;
}
.createAccountWrap{
    width: 100%;
    margin: 15px 0 20px 0px;
}
.createAccount {
    display: block;
    width: 60%;
    margin: 0 auto;
}
.createAccountButton {
    background-color: #42B72A;
    color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 7px;
    font-size: 20px;
}