@import '../../CommonFiles/commonStyles.module';

.mainWrap {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;

  .personsWrap {
    padding-right: 6px;
    width: 24%;
    height: 100%;
  }

  .messageWrap {
    width: 76%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border-left: solid 1px $mainBackGroundColor;

    .message {
      width: 100%;
      min-height: 500px;
      overflow: auto;
    }
  }
}

@media (max-width: 1244px) {
  .mainWrap {
    width: 93%;
    margin-left: 20px;
  }
}
