.table {
    padding-top: 2px;
    max-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 200px;
}
.list {
    padding: 0px 15px 0px 0px;
}
.list:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
