@import '../commonFiles/commonStyles.module';

.mainWrap {
   background-color: white;
   display: flex;
   flex-wrap: wrap;
   padding: 10px 0 10px 10px;
   width: 75%;
   box-shadow: $boxShadowForBlock;
   border-radius: $bottomRadius;
   height: fit-content;

   .personsWrap {
      padding-right: 6px;
      width: 30%;
      height: 100%;
   }

   .messageWrap {
      position: relative;
      width: 70%;
      border-left: solid 1px $mainBackGroundColor;

      .message {
         height: 500px;
         width: 100%;
         overflow: auto;
      }
   }
}

@media (max-width: 1244px) {
   .mainWrap {
      width: 93%;
      margin-left: 20px;
   }
}
