@import './components/CommonFiles/commonStyles.module.scss';
body {
  font-weight: 400;
  background: url('./images/bg_and_photo/wallpapperBg.jpg');
  color: $mainTextColor;
    font-family: "Helvetica Neue";
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.subWrap {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 737px) {
  .subWrap {
    max-height: 490px;
  }
}



