.profileItem {
    font-size: 20px;
}
.avatar{
    border: 1px solid #000;
    margin-right: 20px;
    max-width: 100px;
    max-height: 100px;
}
.subWrapper {
    padding-left: 20px;
    align-items: center;
    height: 150px;
    width: 50%;
    background-color: #fff;
    margin-top: 16px;
    display: flex;
}