// main border boxShadow for Block
$boxShadowForBlock: 0 0 5px 1px rgba(156, 156, 156, 1);
$boxShadowForBlockLight: 0 0 2px 1px rgba(201, 201, 201, 1);
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// required/dangerous effect for Form
$danger0usShadow: inset 0 0 2px 1px rgba(255, 0, 0, 1);
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//background color for block//
$mainBackGroundColor: #5d71d8;
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//Main text color//
$mainTextColor: black;
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//Main button color//
$buttonColor: #3f51b5;
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// Button text color//
$buttonTextColor: #fff;
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// Border Radius//
$smallRadius: 5px;
$largeRadius: 15px;
$bottomRadius: 0 0 10px 10px;
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// Input BackGround
$inputBackGround: #c7daf9;
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// hover effect for menu and block item
@mixin onHoverBackgroundColor {
   &:hover {
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s;
      background: #d6d4d4;
   }
}


//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// hover and active effect Box Shadow for Button //
@mixin onHoverActiveButton {
   &:hover {
      -webkit-box-shadow: 0 0 2px 1px #2e4a75;
      box-shadow: 0 0 2px 1px #2e4a75;
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s;
   }

   &:active {
      -webkit-box-shadow: 0 0 2px 1px #adcbff;
      box-shadow: 0 0 2px 1px #adcbff;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
   }

}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// hover effect for Text
@mixin onHoverText {
   &:hover {
      text-decoration: underline;
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s;
   }
}