// main border boxShadow for Block
$boxShadowForBlock: 0 0 5px 1px rgba(156, 156, 156, 1);
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// required/dangerous effect for Form
$danger0usShadow: inset 0 0 2px 1px rgba(255, 0, 0, 1);
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//background color for block//
$mainBackGroundColor: #3b5998;
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//Main text color//
$mainTextColor: black;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// hover effect for menu and block item
@mixin onHoverBackgroundColor {
  &:hover {
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    background-color: #dee0e3;
    color: #000;
    font-weight: bold;
  }
}

@mixin onActiveBackgroundColor {
  &:active {
    background-color: #adcbff;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    font-weight: bold;
  }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// hover and active effect Box Shadow for Button //
@mixin onHoverActiveButton {
  &:hover {
    -webkit-box-shadow: 0 0 2px 1px #2e4a75;
    box-shadow: 0 0 2px 1px #2e4a75;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }

  &:active {
    -webkit-box-shadow: 0 0 4px 4px #adcbff;
    box-shadow: 0 0 4px 4px #adcbff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// hover effect for Text
@mixin onHoverText {
  &:hover {
    text-decoration: underline;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }
}


